<header ng-switch on="$location.path().indexOf('/Products/new') > -1">
    <h3 ng-switch-when="true">Create a new Product</h3>
    <h3 ng-switch-when="false">View or edit Product</h3>
</header>
<form id="ProductForm" name="ProductForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': ProductForm.merchant.$invalid}">
        <label for="merchant" class="col-sm-2 control-label">Merchant</label>
        <div id="merchantControls" class="col-sm-10">
        <select id="merchant" name="merchant" class="form-control" ng-model="merchantSelection" ng-options="m.text for m in merchantSelectionList"  >
            <option value="">Choose a Merchant</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.productName.$invalid}">
        <label for="productName" class="col-sm-2 control-label">Product Name</label>
        <div id="productNameControls" class="col-sm-10">
            <input id="productName" name="productName" type="text" required ng-maxlength="100" class="form-control" ng-model="product.productName" placeholder="Enter the Product Product Name"></input>
            <span class="help-block error" ng-show="ProductForm.productName.$error.required">required</span> 
            <span class="help-block error" ng-show="ProductForm.productName.$error.maxlength">maximum length is 100</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.productPrice.$invalid}">
        <label for="productPrice" class="col-sm-2 control-label">Product Price</label>
        <div id="productPriceControls" class="col-sm-10">
            <input id="productPrice" name="productPrice" type="number" required class="form-control" ng-model="product.productPrice" placeholder="Enter the Product Product Price"></input>
            <span class="help-block error" ng-show="ProductForm.productPrice.$error.required">required</span> 
            <span class="help-block error" ng-show="ProductForm.productPrice.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.productWeight.$invalid}">
        <label for="productWeight" class="col-sm-2 control-label">Product Weight</label>
        <div id="productWeightControls" class="col-sm-10">
            <input id="productWeight" name="productWeight" type="number" required class="form-control" ng-model="product.productWeight" placeholder="Enter the Product Product Weight"></input>
            <span class="help-block error" ng-show="ProductForm.productWeight.$error.required">required</span> 
            <span class="help-block error" ng-show="ProductForm.productWeight.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.productCartDesc.$invalid}">
        <label for="productCartDesc" class="col-sm-2 control-label">Product Cart Desc</label>
        <div id="productCartDescControls" class="col-sm-10">
            <input id="productCartDesc" name="productCartDesc" type="text" required ng-maxlength="250" class="form-control" ng-model="product.productCartDesc" placeholder="Enter the Product Product Cart Desc"></input>
            <span class="help-block error" ng-show="ProductForm.productCartDesc.$error.required">required</span> 
            <span class="help-block error" ng-show="ProductForm.productCartDesc.$error.maxlength">maximum length is 250</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.productShortDesc.$invalid}">
        <label for="productShortDesc" class="col-sm-2 control-label">Product Short Desc</label>
        <div id="productShortDescControls" class="col-sm-10">
            <input id="productShortDesc" name="productShortDesc" type="text" required ng-maxlength="1000" class="form-control" ng-model="product.productShortDesc" placeholder="Enter the Product Product Short Desc"></input>
            <span class="help-block error" ng-show="ProductForm.productShortDesc.$error.required">required</span> 
            <span class="help-block error" ng-show="ProductForm.productShortDesc.$error.maxlength">maximum length is 1000</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.productLongDesc.$invalid}">
        <label for="productLongDesc" class="col-sm-2 control-label">Product Long Desc</label>
        <div id="productLongDescControls" class="col-sm-10">
            <input id="productLongDesc" name="productLongDesc" type="text" required ng-maxlength="4000" class="form-control" ng-model="product.productLongDesc" placeholder="Enter the Product Product Long Desc"></input>
            <span class="help-block error" ng-show="ProductForm.productLongDesc.$error.required">required</span> 
            <span class="help-block error" ng-show="ProductForm.productLongDesc.$error.maxlength">maximum length is 4000</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.productThumb.$invalid}">
        <label for="productThumb" class="col-sm-2 control-label">Product Thumb</label>
        <div id="productThumbControls" class="col-sm-10">
            <input id="productThumb" name="productThumb" type="text" required ng-maxlength="100" class="form-control" ng-model="product.productThumb" placeholder="Enter the Product Product Thumb"></input>
            <span class="help-block error" ng-show="ProductForm.productThumb.$error.required">required</span> 
            <span class="help-block error" ng-show="ProductForm.productThumb.$error.maxlength">maximum length is 100</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.productImage.$invalid}">
        <label for="productImage" class="col-sm-2 control-label">Product Image</label>
        <div id="productImageControls" class="col-sm-10">
            <input id="productImage" name="productImage" type="text" required ng-maxlength="100" class="form-control" ng-model="product.productImage" placeholder="Enter the Product Product Image"></input>
            <span class="help-block error" ng-show="ProductForm.productImage.$error.required">required</span> 
            <span class="help-block error" ng-show="ProductForm.productImage.$error.maxlength">maximum length is 100</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.productStock.$invalid}">
        <label for="productStock" class="col-sm-2 control-label">Product Stock</label>
        <div id="productStockControls" class="col-sm-10">
            <input id="productStock" name="productStock" type="number" class="form-control" ng-model="product.productStock" placeholder="Enter the Product Product Stock"></input>
            <span class="help-block error" ng-show="ProductForm.productStock.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.productDiscountPercentage.$invalid}">
        <label for="productDiscountPercentage" class="col-sm-2 control-label">Product Discount Percentage</label>
        <div id="productDiscountPercentageControls" class="col-sm-10">
            <input id="productDiscountPercentage" name="productDiscountPercentage" type="number" class="form-control" ng-model="product.productDiscountPercentage" placeholder="Enter the Product Product Discount Percentage"></input>
            <span class="help-block error" ng-show="ProductForm.productDiscountPercentage.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.productUnlimited.$invalid}">
        <label for="productUnlimited" class="col-sm-2 control-label">Product Unlimited</label>
        <div id="productUnlimitedControls" class="col-sm-10">
        <select id="productUnlimited" name="productUnlimited" class="form-control" ng-model="product.productUnlimited" ng-options="p for p in productUnlimitedList"  >
            <option value="">Choose a Product Unlimited</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.productHitCount.$invalid}">
        <label for="productHitCount" class="col-sm-2 control-label">Product Hit Count</label>
        <div id="productHitCountControls" class="col-sm-10">
            <input id="productHitCount" name="productHitCount" type="number" class="form-control" ng-model="product.productHitCount" placeholder="Enter the Product Product Hit Count"></input>
            <span class="help-block error" ng-show="ProductForm.productHitCount.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.productSoldCount.$invalid}">
        <label for="productSoldCount" class="col-sm-2 control-label">Product Sold Count</label>
        <div id="productSoldCountControls" class="col-sm-10">
            <input id="productSoldCount" name="productSoldCount" type="number" class="form-control" ng-model="product.productSoldCount" placeholder="Enter the Product Product Sold Count"></input>
            <span class="help-block error" ng-show="ProductForm.productSoldCount.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.lastUpdateUserId.$invalid}">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div id="lastUpdateUserIdControls" class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" type="text" ng-maxlength="45" class="form-control" ng-model="product.lastUpdateUserId" placeholder="Enter the Product Last Update User Id"></input>
            <span class="help-block error" ng-show="ProductForm.lastUpdateUserId.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.lastUpdateTs.$invalid}">
        <label for="lastUpdateTs" class="col-sm-2 control-label">Last Update Ts</label>
        <div id="lastUpdateTsControls" class="col-sm-10">
            <datetime id="lastUpdateTs" name="lastUpdateTs" ng-model="product.lastUpdateTs" placeholder="Enter the Product Last Update Ts"></datetime>
            <span class="help-block error" ng-show="ProductForm.lastUpdateTs.$error.maxlength">maximum length is 19</span>
            <span class="help-block error" ng-show="ProductForm.lastUpdateTs.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.productOptions.$invalid}">
        <label for="productOptions" class="col-sm-2 control-label">Product Options</label>
        <div id="productOptionsControls" class="col-sm-10">
            <select id="productOptions" name="productOptions" multiple class="form-control" ng-model="productOptionsSelection" ng-options="p.text for p in productOptionsSelectionList">
                <option value="">Choose a Product Options</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.productReviews.$invalid}">
        <label for="productReviews" class="col-sm-2 control-label">Product Reviews</label>
        <div id="productReviewsControls" class="col-sm-10">
            <select id="productReviews" name="productReviews" multiple class="form-control" ng-model="productReviewsSelection" ng-options="p.text for p in productReviewsSelectionList">
                <option value="">Choose a Product Reviews</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.productCategories.$invalid}">
        <label for="productCategories" class="col-sm-2 control-label">Product Categories</label>
        <div id="productCategoriesControls" class="col-sm-10">
            <select id="productCategories" name="productCategories" multiple class="form-control" ng-model="productCategoriesSelection" ng-options="p.text for p in productCategoriesSelectionList">
                <option value="">Choose a Product Categories</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.orderDetailses.$invalid}">
        <label for="orderDetailses" class="col-sm-2 control-label">Order Detailses</label>
        <div id="orderDetailsesControls" class="col-sm-10">
            <select id="orderDetailses" name="orderDetailses" multiple class="form-control" ng-model="orderDetailsesSelection" ng-options="o.text for o in orderDetailsesSelectionList">
                <option value="">Choose a Order Detailses</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductForm.offers.$invalid}">
        <label for="offers" class="col-sm-2 control-label">Offers</label>
        <div id="offersControls" class="col-sm-10">
            <select id="offers" name="offers" multiple class="form-control" ng-model="offersSelection" ng-options="o.text for o in offersSelectionList">
                <option value="">Choose a Offers</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveProduct" name="saveProduct" class="btn btn-primary" ng-disabled="isClean() || ProductForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteProduct" name="deleteProduct" class="btn btn-danger" ng-show="product.productId" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>