<header ng-switch on="$location.path().indexOf('/ProductOptions/new') > -1">
    <h3 ng-switch-when="true">Create a new ProductOption</h3>
    <h3 ng-switch-when="false">View or edit ProductOption</h3>
</header>
<form id="ProductOptionForm" name="ProductOptionForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': ProductOptionForm.productId.$invalid}">
        <label for="productId" class="col-sm-2 control-label">Product Id</label>
        <div id="productIdControls" class="col-sm-10">
            <input id="productId" name="productId" type="text" required ng-maxlength="45" class="form-control" ng-model="productOption.productId" placeholder="Enter the ProductOption Product Id"></input>
            <span class="help-block error" ng-show="ProductOptionForm.productId.$error.required">required</span> 
            <span class="help-block error" ng-show="ProductOptionForm.productId.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductOptionForm.optionGroupId.$invalid}">
        <label for="optionGroupId" class="col-sm-2 control-label">Option Group Id</label>
        <div id="optionGroupIdControls" class="col-sm-10">
            <input id="optionGroupId" name="optionGroupId" type="text" required ng-maxlength="45" class="form-control" ng-model="productOption.optionGroupId" placeholder="Enter the ProductOption Option Group Id"></input>
            <span class="help-block error" ng-show="ProductOptionForm.optionGroupId.$error.required">required</span> 
            <span class="help-block error" ng-show="ProductOptionForm.optionGroupId.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductOptionForm.optionId.$invalid}">
        <label for="optionId" class="col-sm-2 control-label">Option Id</label>
        <div id="optionIdControls" class="col-sm-10">
            <input id="optionId" name="optionId" type="text" required ng-maxlength="45" class="form-control" ng-model="productOption.optionId" placeholder="Enter the ProductOption Option Id"></input>
            <span class="help-block error" ng-show="ProductOptionForm.optionId.$error.required">required</span> 
            <span class="help-block error" ng-show="ProductOptionForm.optionId.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductOptionForm.lastUpdateUserId.$invalid}">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div id="lastUpdateUserIdControls" class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" type="text" ng-maxlength="45" class="form-control" ng-model="productOption.lastUpdateUserId" placeholder="Enter the ProductOption Last Update User Id"></input>
            <span class="help-block error" ng-show="ProductOptionForm.lastUpdateUserId.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductOptionForm.lastUpdateTs.$invalid}">
        <label for="lastUpdateTs" class="col-sm-2 control-label">Last Update Ts</label>
        <div id="lastUpdateTsControls" class="col-sm-10">
            <datetime id="lastUpdateTs" name="lastUpdateTs" ng-model="productOption.lastUpdateTs" placeholder="Enter the ProductOption Last Update Ts"></datetime>
            <span class="help-block error" ng-show="ProductOptionForm.lastUpdateTs.$error.maxlength">maximum length is 19</span>
            <span class="help-block error" ng-show="ProductOptionForm.lastUpdateTs.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveProductOption" name="saveProductOption" class="btn btn-primary" ng-disabled="isClean() || ProductOptionForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteProductOption" name="deleteProductOption" class="btn btn-danger" ng-show="productOption.productOptionId" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>