<div class="form-horizontal">
    <h3>Create a new TaxRuleMerchant</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/TaxRuleMerchants/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for TaxRuleMerchants</h3>
    <form id="TaxRuleMerchantSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="taxRuleId" class="col-sm-2 control-label">Tax Rule Id</label>
        <div class="col-sm-10">
            <input id="taxRuleId" name="taxRuleId" class="form-control" type="text" ng-model="search.taxRuleId" placeholder="Enter the TaxRuleMerchant Tax Rule Id"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="merchantId" class="col-sm-2 control-label">Merchant Id</label>
        <div class="col-sm-10">
            <input id="merchantId" name="merchantId" class="form-control" type="text" ng-model="search.merchantId" placeholder="Enter the TaxRuleMerchant Merchant Id"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" class="form-control" type="text" ng-model="search.lastUpdateUserId" placeholder="Enter the TaxRuleMerchant Last Update User Id"></input>
        </div>
    </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Tax Rule Id</th>
                    <th>Merchant Id</th>
                    <th>Last Update User Id</th>
                    <th>Last Update Ts</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/TaxRuleMerchants/edit/{{result.taxRuleMerchantId}}">{{result.taxRuleId}}</a></td>
                    <td><a href="#/TaxRuleMerchants/edit/{{result.taxRuleMerchantId}}">{{result.merchantId}}</a></td>
                    <td><a href="#/TaxRuleMerchants/edit/{{result.taxRuleMerchantId}}">{{result.lastUpdateUserId}}</a></td>
                    <td><a href="#/TaxRuleMerchants/edit/{{result.taxRuleMerchantId}}">{{result.lastUpdateTs| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>