<header ng-switch on="$location.path().indexOf('/ProductReviews/new') > -1">
    <h3 ng-switch-when="true">Create a new ProductReview</h3>
    <h3 ng-switch-when="false">View or edit ProductReview</h3>
</header>
<form id="ProductReviewForm" name="ProductReviewForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': ProductReviewForm.product.$invalid}">
        <label for="product" class="col-sm-2 control-label">Product</label>
        <div id="productControls" class="col-sm-10">
        <select id="product" name="product" class="form-control" ng-model="productSelection" ng-options="p.text for p in productSelectionList"  >
            <option value="">Choose a Product</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductReviewForm.users.$invalid}">
        <label for="users" class="col-sm-2 control-label">Users</label>
        <div id="usersControls" class="col-sm-10">
        <select id="users" name="users" class="form-control" ng-model="usersSelection" ng-options="u.text for u in usersSelectionList"  >
            <option value="">Choose a Users</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductReviewForm.productRating.$invalid}">
        <label for="productRating" class="col-sm-2 control-label">Product Rating</label>
        <div id="productRatingControls" class="col-sm-10">
            <input id="productRating" name="productRating" type="number" class="form-control" ng-model="productReview.productRating" placeholder="Enter the ProductReview Product Rating"></input>
            <span class="help-block error" ng-show="ProductReviewForm.productRating.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductReviewForm.productReviewComment.$invalid}">
        <label for="productReviewComment" class="col-sm-2 control-label">Product Review Comment</label>
        <div id="productReviewCommentControls" class="col-sm-10">
            <input id="productReviewComment" name="productReviewComment" type="text" ng-maxlength="500" class="form-control" ng-model="productReview.productReviewComment" placeholder="Enter the ProductReview Product Review Comment"></input>
            <span class="help-block error" ng-show="ProductReviewForm.productReviewComment.$error.maxlength">maximum length is 500</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductReviewForm.lastUpdateUserId.$invalid}">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div id="lastUpdateUserIdControls" class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" type="text" ng-maxlength="45" class="form-control" ng-model="productReview.lastUpdateUserId" placeholder="Enter the ProductReview Last Update User Id"></input>
            <span class="help-block error" ng-show="ProductReviewForm.lastUpdateUserId.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductReviewForm.lastUpdateTs.$invalid}">
        <label for="lastUpdateTs" class="col-sm-2 control-label">Last Update Ts</label>
        <div id="lastUpdateTsControls" class="col-sm-10">
            <datetime id="lastUpdateTs" name="lastUpdateTs" ng-model="productReview.lastUpdateTs" placeholder="Enter the ProductReview Last Update Ts"></datetime>
            <span class="help-block error" ng-show="ProductReviewForm.lastUpdateTs.$error.maxlength">maximum length is 19</span>
            <span class="help-block error" ng-show="ProductReviewForm.lastUpdateTs.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveProductReview" name="saveProductReview" class="btn btn-primary" ng-disabled="isClean() || ProductReviewForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteProductReview" name="deleteProductReview" class="btn btn-danger" ng-show="productReview.productReviewId" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>