<div class="form-horizontal">
    <h3>Create a new Offer</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Offers/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Offers</h3>
    <form id="OfferSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="merchant" class="col-sm-2 control-label">Merchant</label>
        <div class="col-sm-10">
            <select id="merchant" name="merchant" class="form-control" ng-model="search.merchant" ng-options="m as m.merchantId for m in merchantList">
                <option value="">Choose a Merchant</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="product" class="col-sm-2 control-label">Product</label>
        <div class="col-sm-10">
            <select id="product" name="product" class="form-control" ng-model="search.product" ng-options="p as p.productId for p in productList">
                <option value="">Choose a Product</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="offerName" class="col-sm-2 control-label">Offer Name</label>
        <div class="col-sm-10">
            <input id="offerName" name="offerName" class="form-control" type="text" ng-model="search.offerName" placeholder="Enter the Offer Offer Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="offerDiscountPct" class="col-sm-2 control-label">Offer Discount Pct</label>
        <div class="col-sm-10">
            <input id="offerDiscountPct" name="offerDiscountPct" class="form-control" type="text" ng-model="search.offerDiscountPct" placeholder="Enter the Offer Offer Discount Pct"></input>
        </div>
    </div>



    <div class="form-group">
        <label for="offerMaxCount" class="col-sm-2 control-label">Offer Max Count</label>
        <div class="col-sm-10">
            <input id="offerMaxCount" name="offerMaxCount" class="form-control" type="text" ng-model="search.offerMaxCount" placeholder="Enter the Offer Offer Max Count"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" class="form-control" type="text" ng-model="search.lastUpdateUserId" placeholder="Enter the Offer Last Update User Id"></input>
        </div>
    </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Merchant</th>
                    <th>Product</th>
                    <th>Offer Name</th>
                    <th>Offer Discount Pct</th>
                    <th>Offer Start Date</th>
                    <th>Offer End Date</th>
                    <th>Offer Max Count</th>
                    <th>Last Update User Id</th>
                    <th>Last Update Ts</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td><a href="#/Offers/edit/{{result.offerId}}">{{result.merchant.merchantId}}</a></td>
                        <td><a href="#/Offers/edit/{{result.offerId}}">{{result.product.productId}}</a></td>
                    <td><a href="#/Offers/edit/{{result.offerId}}">{{result.offerName}}</a></td>
                    <td><a href="#/Offers/edit/{{result.offerId}}">{{result.offerDiscountPct}}</a></td>
                    <td><a href="#/Offers/edit/{{result.offerId}}">{{result.offerStartDate| date:'mediumDate'}}</a></td>
                    <td><a href="#/Offers/edit/{{result.offerId}}">{{result.offerEndDate| date:'mediumDate'}}</a></td>
                    <td><a href="#/Offers/edit/{{result.offerId}}">{{result.offerMaxCount}}</a></td>
                    <td><a href="#/Offers/edit/{{result.offerId}}">{{result.lastUpdateUserId}}</a></td>
                    <td><a href="#/Offers/edit/{{result.offerId}}">{{result.lastUpdateTs| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>