<header ng-switch on="$location.path().indexOf('/Users/new') > -1">
    <h3 ng-switch-when="true">Create a new Users</h3>
    <h3 ng-switch-when="false">View or edit Users</h3>
</header>
<form id="UsersForm" name="UsersForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': UsersForm.userEmail.$invalid}">
        <label for="userEmail" class="col-sm-2 control-label">User Email</label>
        <div id="userEmailControls" class="col-sm-10">
            <input id="userEmail" name="userEmail" type="text" ng-maxlength="500" class="form-control" ng-model="users.userEmail" placeholder="Enter the Users User Email"></input>
            <span class="help-block error" ng-show="UsersForm.userEmail.$error.maxlength">maximum length is 500</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UsersForm.userPassword.$invalid}">
        <label for="userPassword" class="col-sm-2 control-label">User Password</label>
        <div id="userPasswordControls" class="col-sm-10">
            <input id="userPassword" name="userPassword" type="text" ng-maxlength="500" class="form-control" ng-model="users.userPassword" placeholder="Enter the Users User Password"></input>
            <span class="help-block error" ng-show="UsersForm.userPassword.$error.maxlength">maximum length is 500</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UsersForm.userFirstName.$invalid}">
        <label for="userFirstName" class="col-sm-2 control-label">User First Name</label>
        <div id="userFirstNameControls" class="col-sm-10">
            <input id="userFirstName" name="userFirstName" type="text" ng-maxlength="50" class="form-control" ng-model="users.userFirstName" placeholder="Enter the Users User First Name"></input>
            <span class="help-block error" ng-show="UsersForm.userFirstName.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UsersForm.userLastName.$invalid}">
        <label for="userLastName" class="col-sm-2 control-label">User Last Name</label>
        <div id="userLastNameControls" class="col-sm-10">
            <input id="userLastName" name="userLastName" type="text" ng-maxlength="50" class="form-control" ng-model="users.userLastName" placeholder="Enter the Users User Last Name"></input>
            <span class="help-block error" ng-show="UsersForm.userLastName.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UsersForm.userEmailVerified.$invalid}">
        <label for="userEmailVerified" class="col-sm-2 control-label">User Email Verified</label>
        <div id="userEmailVerifiedControls" class="col-sm-10">
        <select id="userEmailVerified" name="userEmailVerified" class="form-control" ng-model="users.userEmailVerified" ng-options="u for u in userEmailVerifiedList"  >
            <option value="">Choose a User Email Verified</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UsersForm.userRegistrationDate.$invalid}">
        <label for="userRegistrationDate" class="col-sm-2 control-label">User Registration Date</label>
        <div id="userRegistrationDateControls" class="col-sm-10">
            <datetime id="userRegistrationDate" name="userRegistrationDate" ng-model="users.userRegistrationDate" placeholder="Enter the Users User Registration Date"></datetime>
            <span class="help-block error" ng-show="UsersForm.userRegistrationDate.$error.maxlength">maximum length is 19</span>
            <span class="help-block error" ng-show="UsersForm.userRegistrationDate.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UsersForm.userVerificationCode.$invalid}">
        <label for="userVerificationCode" class="col-sm-2 control-label">User Verification Code</label>
        <div id="userVerificationCodeControls" class="col-sm-10">
            <input id="userVerificationCode" name="userVerificationCode" type="text" ng-maxlength="20" class="form-control" ng-model="users.userVerificationCode" placeholder="Enter the Users User Verification Code"></input>
            <span class="help-block error" ng-show="UsersForm.userVerificationCode.$error.maxlength">maximum length is 20</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UsersForm.userRewardPoints.$invalid}">
        <label for="userRewardPoints" class="col-sm-2 control-label">User Reward Points</label>
        <div id="userRewardPointsControls" class="col-sm-10">
            <input id="userRewardPoints" name="userRewardPoints" type="number" class="form-control" ng-model="users.userRewardPoints" placeholder="Enter the Users User Reward Points"></input>
            <span class="help-block error" ng-show="UsersForm.userRewardPoints.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UsersForm.userPhoneNo.$invalid}">
        <label for="userPhoneNo" class="col-sm-2 control-label">User Phone No</label>
        <div id="userPhoneNoControls" class="col-sm-10">
            <input id="userPhoneNo" name="userPhoneNo" type="text" ng-maxlength="20" class="form-control" ng-model="users.userPhoneNo" placeholder="Enter the Users User Phone No"></input>
            <span class="help-block error" ng-show="UsersForm.userPhoneNo.$error.maxlength">maximum length is 20</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UsersForm.lastUpdateUserId.$invalid}">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div id="lastUpdateUserIdControls" class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" type="text" ng-maxlength="45" class="form-control" ng-model="users.lastUpdateUserId" placeholder="Enter the Users Last Update User Id"></input>
            <span class="help-block error" ng-show="UsersForm.lastUpdateUserId.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UsersForm.lastUpdateTs.$invalid}">
        <label for="lastUpdateTs" class="col-sm-2 control-label">Last Update Ts</label>
        <div id="lastUpdateTsControls" class="col-sm-10">
            <datetime id="lastUpdateTs" name="lastUpdateTs" ng-model="users.lastUpdateTs" placeholder="Enter the Users Last Update Ts"></datetime>
            <span class="help-block error" ng-show="UsersForm.lastUpdateTs.$error.maxlength">maximum length is 19</span>
            <span class="help-block error" ng-show="UsersForm.lastUpdateTs.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveUsers" name="saveUsers" class="btn btn-primary" ng-disabled="isClean() || UsersForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteUsers" name="deleteUsers" class="btn btn-danger" ng-show="users.userId" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>