<div class="form-horizontal">
    <h3>Create a new Users</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Users/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Users</h3>
    <form id="UsersSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="userEmail" class="col-sm-2 control-label">User Email</label>
        <div class="col-sm-10">
            <input id="userEmail" name="userEmail" class="form-control" type="text" ng-model="search.userEmail" placeholder="Enter the Users User Email"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userPassword" class="col-sm-2 control-label">User Password</label>
        <div class="col-sm-10">
            <input id="userPassword" name="userPassword" class="form-control" type="text" ng-model="search.userPassword" placeholder="Enter the Users User Password"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userFirstName" class="col-sm-2 control-label">User First Name</label>
        <div class="col-sm-10">
            <input id="userFirstName" name="userFirstName" class="form-control" type="text" ng-model="search.userFirstName" placeholder="Enter the Users User First Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userLastName" class="col-sm-2 control-label">User Last Name</label>
        <div class="col-sm-10">
            <input id="userLastName" name="userLastName" class="form-control" type="text" ng-model="search.userLastName" placeholder="Enter the Users User Last Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userEmailVerified" class="col-sm-2 control-label">User Email Verified</label>
        <div class="col-sm-10">
            <select id="userEmailVerified" name="userEmailVerified" class="form-control" ng-model="search.userEmailVerified" ng-options="u as u for u in userEmailVerifiedList">
                <option value="">Choose a User Email Verified</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <label for="userVerificationCode" class="col-sm-2 control-label">User Verification Code</label>
        <div class="col-sm-10">
            <input id="userVerificationCode" name="userVerificationCode" class="form-control" type="text" ng-model="search.userVerificationCode" placeholder="Enter the Users User Verification Code"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userRewardPoints" class="col-sm-2 control-label">User Reward Points</label>
        <div class="col-sm-10">
            <input id="userRewardPoints" name="userRewardPoints" class="form-control" type="text" ng-model="search.userRewardPoints" placeholder="Enter the Users User Reward Points"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userPhoneNo" class="col-sm-2 control-label">User Phone No</label>
        <div class="col-sm-10">
            <input id="userPhoneNo" name="userPhoneNo" class="form-control" type="text" ng-model="search.userPhoneNo" placeholder="Enter the Users User Phone No"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" class="form-control" type="text" ng-model="search.lastUpdateUserId" placeholder="Enter the Users Last Update User Id"></input>
        </div>
    </div>









        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>User Email</th>
                    <th>User Password</th>
                    <th>User First Name</th>
                    <th>User Last Name</th>
                    <th>User Email Verified</th>
                    <th>User Registration Date</th>
                    <th>User Verification Code</th>
                    <th>User Reward Points</th>
                    <th>User Phone No</th>
                    <th>Last Update User Id</th>
                    <th>Last Update Ts</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Users/edit/{{result.userId}}">{{result.userEmail}}</a></td>
                    <td><a href="#/Users/edit/{{result.userId}}">{{result.userPassword}}</a></td>
                    <td><a href="#/Users/edit/{{result.userId}}">{{result.userFirstName}}</a></td>
                    <td><a href="#/Users/edit/{{result.userId}}">{{result.userLastName}}</a></td>
                    <td><a href="#/Users/edit/{{result.userId}}">{{result.userEmailVerified}}</a></td>
                    <td><a href="#/Users/edit/{{result.userId}}">{{result.userRegistrationDate| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                    <td><a href="#/Users/edit/{{result.userId}}">{{result.userVerificationCode}}</a></td>
                    <td><a href="#/Users/edit/{{result.userId}}">{{result.userRewardPoints}}</a></td>
                    <td><a href="#/Users/edit/{{result.userId}}">{{result.userPhoneNo}}</a></td>
                    <td><a href="#/Users/edit/{{result.userId}}">{{result.lastUpdateUserId}}</a></td>
                    <td><a href="#/Users/edit/{{result.userId}}">{{result.lastUpdateTs| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>