<header ng-switch on="$location.path().indexOf('/OptionGroups/new') > -1">
    <h3 ng-switch-when="true">Create a new OptionGroups</h3>
    <h3 ng-switch-when="false">View or edit OptionGroups</h3>
</header>
<form id="OptionGroupsForm" name="OptionGroupsForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': OptionGroupsForm.optionGroupName.$invalid}">
        <label for="optionGroupName" class="col-sm-2 control-label">Option Group Name</label>
        <div id="optionGroupNameControls" class="col-sm-10">
            <input id="optionGroupName" name="optionGroupName" type="text" required ng-maxlength="50" class="form-control" ng-model="optionGroups.optionGroupName" placeholder="Enter the OptionGroups Option Group Name"></input>
            <span class="help-block error" ng-show="OptionGroupsForm.optionGroupName.$error.required">required</span> 
            <span class="help-block error" ng-show="OptionGroupsForm.optionGroupName.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OptionGroupsForm.optionGroupDesc.$invalid}">
        <label for="optionGroupDesc" class="col-sm-2 control-label">Option Group Desc</label>
        <div id="optionGroupDescControls" class="col-sm-10">
            <input id="optionGroupDesc" name="optionGroupDesc" type="text" required ng-maxlength="45" class="form-control" ng-model="optionGroups.optionGroupDesc" placeholder="Enter the OptionGroups Option Group Desc"></input>
            <span class="help-block error" ng-show="OptionGroupsForm.optionGroupDesc.$error.required">required</span> 
            <span class="help-block error" ng-show="OptionGroupsForm.optionGroupDesc.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OptionGroupsForm.lastUpdateUserId.$invalid}">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div id="lastUpdateUserIdControls" class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" type="text" ng-maxlength="45" class="form-control" ng-model="optionGroups.lastUpdateUserId" placeholder="Enter the OptionGroups Last Update User Id"></input>
            <span class="help-block error" ng-show="OptionGroupsForm.lastUpdateUserId.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OptionGroupsForm.lastUpdateTs.$invalid}">
        <label for="lastUpdateTs" class="col-sm-2 control-label">Last Update Ts</label>
        <div id="lastUpdateTsControls" class="col-sm-10">
            <datetime id="lastUpdateTs" name="lastUpdateTs" ng-model="optionGroups.lastUpdateTs" placeholder="Enter the OptionGroups Last Update Ts"></datetime>
            <span class="help-block error" ng-show="OptionGroupsForm.lastUpdateTs.$error.maxlength">maximum length is 19</span>
            <span class="help-block error" ng-show="OptionGroupsForm.lastUpdateTs.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OptionGroupsForm.optionses.$invalid}">
        <label for="optionses" class="col-sm-2 control-label">Optionses</label>
        <div id="optionsesControls" class="col-sm-10">
            <select id="optionses" name="optionses" multiple class="form-control" ng-model="optionsesSelection" ng-options="o.text for o in optionsesSelectionList">
                <option value="">Choose a Optionses</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OptionGroupsForm.categoryOptionses.$invalid}">
        <label for="categoryOptionses" class="col-sm-2 control-label">Category Optionses</label>
        <div id="categoryOptionsesControls" class="col-sm-10">
            <select id="categoryOptionses" name="categoryOptionses" multiple class="form-control" ng-model="categoryOptionsesSelection" ng-options="c.text for c in categoryOptionsesSelectionList">
                <option value="">Choose a Category Optionses</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OptionGroupsForm.productOptions.$invalid}">
        <label for="productOptions" class="col-sm-2 control-label">Product Options</label>
        <div id="productOptionsControls" class="col-sm-10">
            <select id="productOptions" name="productOptions" multiple class="form-control" ng-model="productOptionsSelection" ng-options="p.text for p in productOptionsSelectionList">
                <option value="">Choose a Product Options</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveOptionGroups" name="saveOptionGroups" class="btn btn-primary" ng-disabled="isClean() || OptionGroupsForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteOptionGroups" name="deleteOptionGroups" class="btn btn-danger" ng-show="optionGroups.optionGroupId" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>