<header ng-switch on="$location.path().indexOf('/UserAddresses/new') > -1">
    <h3 ng-switch-when="true">Create a new UserAddress</h3>
    <h3 ng-switch-when="false">View or edit UserAddress</h3>
</header>
<form id="UserAddressForm" name="UserAddressForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': UserAddressForm.userAddress.$invalid}">
        <label for="userAddress" class="col-sm-2 control-label">User Address</label>
        <div id="userAddressControls" class="col-sm-10">
            <input id="userAddress" name="userAddress" type="text" ng-maxlength="100" class="form-control" ng-model="userAddress.userAddress" placeholder="Enter the UserAddress User Address"></input>
            <span class="help-block error" ng-show="UserAddressForm.userAddress.$error.maxlength">maximum length is 100</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UserAddressForm.userAddress2.$invalid}">
        <label for="userAddress2" class="col-sm-2 control-label">User Address 2</label>
        <div id="userAddress2Controls" class="col-sm-10">
            <input id="userAddress2" name="userAddress2" type="text" ng-maxlength="50" class="form-control" ng-model="userAddress.userAddress2" placeholder="Enter the UserAddress User Address 2"></input>
            <span class="help-block error" ng-show="UserAddressForm.userAddress2.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UserAddressForm.userCity.$invalid}">
        <label for="userCity" class="col-sm-2 control-label">User City</label>
        <div id="userCityControls" class="col-sm-10">
            <input id="userCity" name="userCity" type="text" ng-maxlength="90" class="form-control" ng-model="userAddress.userCity" placeholder="Enter the UserAddress User City"></input>
            <span class="help-block error" ng-show="UserAddressForm.userCity.$error.maxlength">maximum length is 90</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UserAddressForm.userCountry.$invalid}">
        <label for="userCountry" class="col-sm-2 control-label">User Country</label>
        <div id="userCountryControls" class="col-sm-10">
            <input id="userCountry" name="userCountry" type="text" ng-maxlength="20" class="form-control" ng-model="userAddress.userCountry" placeholder="Enter the UserAddress User Country"></input>
            <span class="help-block error" ng-show="UserAddressForm.userCountry.$error.maxlength">maximum length is 20</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UserAddressForm.userFax.$invalid}">
        <label for="userFax" class="col-sm-2 control-label">User Fax</label>
        <div id="userFaxControls" class="col-sm-10">
            <input id="userFax" name="userFax" type="text" ng-maxlength="20" class="form-control" ng-model="userAddress.userFax" placeholder="Enter the UserAddress User Fax"></input>
            <span class="help-block error" ng-show="UserAddressForm.userFax.$error.maxlength">maximum length is 20</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UserAddressForm.userFirstName.$invalid}">
        <label for="userFirstName" class="col-sm-2 control-label">User First Name</label>
        <div id="userFirstNameControls" class="col-sm-10">
            <input id="userFirstName" name="userFirstName" type="text" ng-maxlength="50" class="form-control" ng-model="userAddress.userFirstName" placeholder="Enter the UserAddress User First Name"></input>
            <span class="help-block error" ng-show="UserAddressForm.userFirstName.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UserAddressForm.userLastName.$invalid}">
        <label for="userLastName" class="col-sm-2 control-label">User Last Name</label>
        <div id="userLastNameControls" class="col-sm-10">
            <input id="userLastName" name="userLastName" type="text" ng-maxlength="50" class="form-control" ng-model="userAddress.userLastName" placeholder="Enter the UserAddress User Last Name"></input>
            <span class="help-block error" ng-show="UserAddressForm.userLastName.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UserAddressForm.userPhone.$invalid}">
        <label for="userPhone" class="col-sm-2 control-label">User Phone</label>
        <div id="userPhoneControls" class="col-sm-10">
            <input id="userPhone" name="userPhone" type="text" ng-maxlength="20" class="form-control" ng-model="userAddress.userPhone" placeholder="Enter the UserAddress User Phone"></input>
            <span class="help-block error" ng-show="UserAddressForm.userPhone.$error.maxlength">maximum length is 20</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UserAddressForm.userState.$invalid}">
        <label for="userState" class="col-sm-2 control-label">User State</label>
        <div id="userStateControls" class="col-sm-10">
            <input id="userState" name="userState" type="text" ng-maxlength="20" class="form-control" ng-model="userAddress.userState" placeholder="Enter the UserAddress User State"></input>
            <span class="help-block error" ng-show="UserAddressForm.userState.$error.maxlength">maximum length is 20</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UserAddressForm.userTypeName.$invalid}">
        <label for="userTypeName" class="col-sm-2 control-label">User Type Name</label>
        <div id="userTypeNameControls" class="col-sm-10">
            <input id="userTypeName" name="userTypeName" type="text" ng-maxlength="50" class="form-control" ng-model="userAddress.userTypeName" placeholder="Enter the UserAddress User Type Name"></input>
            <span class="help-block error" ng-show="UserAddressForm.userTypeName.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UserAddressForm.userZip.$invalid}">
        <label for="userZip" class="col-sm-2 control-label">User Zip</label>
        <div id="userZipControls" class="col-sm-10">
            <input id="userZip" name="userZip" type="text" ng-maxlength="12" class="form-control" ng-model="userAddress.userZip" placeholder="Enter the UserAddress User Zip"></input>
            <span class="help-block error" ng-show="UserAddressForm.userZip.$error.maxlength">maximum length is 12</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UserAddressForm.userId.$invalid}">
        <label for="userId" class="col-sm-2 control-label">User Id</label>
        <div id="userIdControls" class="col-sm-10">
            <input id="userId" name="userId" type="text" required ng-maxlength="45" class="form-control" ng-model="userAddress.userId" placeholder="Enter the UserAddress User Id"></input>
            <span class="help-block error" ng-show="UserAddressForm.userId.$error.required">required</span> 
            <span class="help-block error" ng-show="UserAddressForm.userId.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UserAddressForm.lastUpdateUserId.$invalid}">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div id="lastUpdateUserIdControls" class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" type="text" ng-maxlength="45" class="form-control" ng-model="userAddress.lastUpdateUserId" placeholder="Enter the UserAddress Last Update User Id"></input>
            <span class="help-block error" ng-show="UserAddressForm.lastUpdateUserId.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UserAddressForm.lastUpdateTs.$invalid}">
        <label for="lastUpdateTs" class="col-sm-2 control-label">Last Update Ts</label>
        <div id="lastUpdateTsControls" class="col-sm-10">
            <datetime id="lastUpdateTs" name="lastUpdateTs" ng-model="userAddress.lastUpdateTs" placeholder="Enter the UserAddress Last Update Ts"></datetime>
            <span class="help-block error" ng-show="UserAddressForm.lastUpdateTs.$error.maxlength">maximum length is 19</span>
            <span class="help-block error" ng-show="UserAddressForm.lastUpdateTs.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveUserAddress" name="saveUserAddress" class="btn btn-primary" ng-disabled="isClean() || UserAddressForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteUserAddress" name="deleteUserAddress" class="btn btn-danger" ng-show="userAddress.addressId" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>