<div class="form-horizontal">
    <h3>Create a new UserAddress</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/UserAddresses/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for UserAddresses</h3>
    <form id="UserAddressSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="userAddress" class="col-sm-2 control-label">User Address</label>
        <div class="col-sm-10">
            <input id="userAddress" name="userAddress" class="form-control" type="text" ng-model="search.userAddress" placeholder="Enter the UserAddress User Address"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userAddress2" class="col-sm-2 control-label">User Address 2</label>
        <div class="col-sm-10">
            <input id="userAddress2" name="userAddress2" class="form-control" type="text" ng-model="search.userAddress2" placeholder="Enter the UserAddress User Address 2"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userCity" class="col-sm-2 control-label">User City</label>
        <div class="col-sm-10">
            <input id="userCity" name="userCity" class="form-control" type="text" ng-model="search.userCity" placeholder="Enter the UserAddress User City"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userCountry" class="col-sm-2 control-label">User Country</label>
        <div class="col-sm-10">
            <input id="userCountry" name="userCountry" class="form-control" type="text" ng-model="search.userCountry" placeholder="Enter the UserAddress User Country"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userFax" class="col-sm-2 control-label">User Fax</label>
        <div class="col-sm-10">
            <input id="userFax" name="userFax" class="form-control" type="text" ng-model="search.userFax" placeholder="Enter the UserAddress User Fax"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userFirstName" class="col-sm-2 control-label">User First Name</label>
        <div class="col-sm-10">
            <input id="userFirstName" name="userFirstName" class="form-control" type="text" ng-model="search.userFirstName" placeholder="Enter the UserAddress User First Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userLastName" class="col-sm-2 control-label">User Last Name</label>
        <div class="col-sm-10">
            <input id="userLastName" name="userLastName" class="form-control" type="text" ng-model="search.userLastName" placeholder="Enter the UserAddress User Last Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userPhone" class="col-sm-2 control-label">User Phone</label>
        <div class="col-sm-10">
            <input id="userPhone" name="userPhone" class="form-control" type="text" ng-model="search.userPhone" placeholder="Enter the UserAddress User Phone"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userState" class="col-sm-2 control-label">User State</label>
        <div class="col-sm-10">
            <input id="userState" name="userState" class="form-control" type="text" ng-model="search.userState" placeholder="Enter the UserAddress User State"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userTypeName" class="col-sm-2 control-label">User Type Name</label>
        <div class="col-sm-10">
            <input id="userTypeName" name="userTypeName" class="form-control" type="text" ng-model="search.userTypeName" placeholder="Enter the UserAddress User Type Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userZip" class="col-sm-2 control-label">User Zip</label>
        <div class="col-sm-10">
            <input id="userZip" name="userZip" class="form-control" type="text" ng-model="search.userZip" placeholder="Enter the UserAddress User Zip"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="userId" class="col-sm-2 control-label">User Id</label>
        <div class="col-sm-10">
            <input id="userId" name="userId" class="form-control" type="text" ng-model="search.userId" placeholder="Enter the UserAddress User Id"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" class="form-control" type="text" ng-model="search.lastUpdateUserId" placeholder="Enter the UserAddress Last Update User Id"></input>
        </div>
    </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>User Address</th>
                    <th>User Address 2</th>
                    <th>User City</th>
                    <th>User Country</th>
                    <th>User Fax</th>
                    <th>User First Name</th>
                    <th>User Last Name</th>
                    <th>User Phone</th>
                    <th>User State</th>
                    <th>User Type Name</th>
                    <th>User Zip</th>
                    <th>User Id</th>
                    <th>Last Update User Id</th>
                    <th>Last Update Ts</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/UserAddresses/edit/{{result.addressId}}">{{result.userAddress}}</a></td>
                    <td><a href="#/UserAddresses/edit/{{result.addressId}}">{{result.userAddress2}}</a></td>
                    <td><a href="#/UserAddresses/edit/{{result.addressId}}">{{result.userCity}}</a></td>
                    <td><a href="#/UserAddresses/edit/{{result.addressId}}">{{result.userCountry}}</a></td>
                    <td><a href="#/UserAddresses/edit/{{result.addressId}}">{{result.userFax}}</a></td>
                    <td><a href="#/UserAddresses/edit/{{result.addressId}}">{{result.userFirstName}}</a></td>
                    <td><a href="#/UserAddresses/edit/{{result.addressId}}">{{result.userLastName}}</a></td>
                    <td><a href="#/UserAddresses/edit/{{result.addressId}}">{{result.userPhone}}</a></td>
                    <td><a href="#/UserAddresses/edit/{{result.addressId}}">{{result.userState}}</a></td>
                    <td><a href="#/UserAddresses/edit/{{result.addressId}}">{{result.userTypeName}}</a></td>
                    <td><a href="#/UserAddresses/edit/{{result.addressId}}">{{result.userZip}}</a></td>
                    <td><a href="#/UserAddresses/edit/{{result.addressId}}">{{result.userId}}</a></td>
                    <td><a href="#/UserAddresses/edit/{{result.addressId}}">{{result.lastUpdateUserId}}</a></td>
                    <td><a href="#/UserAddresses/edit/{{result.addressId}}">{{result.lastUpdateTs| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>