<header ng-switch on="$location.path().indexOf('/MerchantFeatures/new') > -1">
    <h3 ng-switch-when="true">Create a new MerchantFeatures</h3>
    <h3 ng-switch-when="false">View or edit MerchantFeatures</h3>
</header>
<form id="MerchantFeaturesForm" name="MerchantFeaturesForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': MerchantFeaturesForm.featureOptions.$invalid}">
        <label for="featureOptions" class="col-sm-2 control-label">Feature Options</label>
        <div id="featureOptionsControls" class="col-sm-10">
        <select id="featureOptions" name="featureOptions" class="form-control" ng-model="featureOptionsSelection" ng-options="f.text for f in featureOptionsSelectionList"  >
            <option value="">Choose a Feature Options</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantFeaturesForm.features.$invalid}">
        <label for="features" class="col-sm-2 control-label">Features</label>
        <div id="featuresControls" class="col-sm-10">
        <select id="features" name="features" class="form-control" ng-model="featuresSelection" ng-options="f.text for f in featuresSelectionList"  >
            <option value="">Choose a Features</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantFeaturesForm.merchant.$invalid}">
        <label for="merchant" class="col-sm-2 control-label">Merchant</label>
        <div id="merchantControls" class="col-sm-10">
        <select id="merchant" name="merchant" class="form-control" ng-model="merchantSelection" ng-options="m.text for m in merchantSelectionList"  >
            <option value="">Choose a Merchant</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantFeaturesForm.lastUpdateUserId.$invalid}">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div id="lastUpdateUserIdControls" class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" type="text" ng-maxlength="45" class="form-control" ng-model="merchantFeatures.lastUpdateUserId" placeholder="Enter the MerchantFeatures Last Update User Id"></input>
            <span class="help-block error" ng-show="MerchantFeaturesForm.lastUpdateUserId.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantFeaturesForm.lastUpdateTs.$invalid}">
        <label for="lastUpdateTs" class="col-sm-2 control-label">Last Update Ts</label>
        <div id="lastUpdateTsControls" class="col-sm-10">
            <datetime id="lastUpdateTs" name="lastUpdateTs" ng-model="merchantFeatures.lastUpdateTs" placeholder="Enter the MerchantFeatures Last Update Ts"></datetime>
            <span class="help-block error" ng-show="MerchantFeaturesForm.lastUpdateTs.$error.maxlength">maximum length is 19</span>
            <span class="help-block error" ng-show="MerchantFeaturesForm.lastUpdateTs.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveMerchantFeatures" name="saveMerchantFeatures" class="btn btn-primary" ng-disabled="isClean() || MerchantFeaturesForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteMerchantFeatures" name="deleteMerchantFeatures" class="btn btn-danger" ng-show="merchantFeatures.merchantFeaturesId" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>