<div class="form-horizontal">
    <h3>Create a new FeatureOptions</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/FeatureOptions/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for FeatureOptions</h3>
    <form id="FeatureOptionsSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="features" class="col-sm-2 control-label">Features</label>
        <div class="col-sm-10">
            <select id="features" name="features" class="form-control" ng-model="search.features" ng-options="f as f.featureId for f in featuresList">
                <option value="">Choose a Features</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="featureOptionName" class="col-sm-2 control-label">Feature Option Name</label>
        <div class="col-sm-10">
            <input id="featureOptionName" name="featureOptionName" class="form-control" type="text" ng-model="search.featureOptionName" placeholder="Enter the FeatureOptions Feature Option Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" class="form-control" type="text" ng-model="search.lastUpdateUserId" placeholder="Enter the FeatureOptions Last Update User Id"></input>
        </div>
    </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Features</th>
                    <th>Feature Option Name</th>
                    <th>Last Update User Id</th>
                    <th>Last Update Ts</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td><a href="#/FeatureOptions/edit/{{result.featureOptionsId}}">{{result.features.featureId}}</a></td>
                    <td><a href="#/FeatureOptions/edit/{{result.featureOptionsId}}">{{result.featureOptionName}}</a></td>
                    <td><a href="#/FeatureOptions/edit/{{result.featureOptionsId}}">{{result.lastUpdateUserId}}</a></td>
                    <td><a href="#/FeatureOptions/edit/{{result.featureOptionsId}}">{{result.lastUpdateTs| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>