<header ng-switch on="$location.path().indexOf('/Merchants/new') > -1">
    <h3 ng-switch-when="true">Create a new Merchant</h3>
    <h3 ng-switch-when="false">View or edit Merchant</h3>
</header>
<form id="MerchantForm" name="MerchantForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': MerchantForm.merchantName.$invalid}">
        <label for="merchantName" class="col-sm-2 control-label">Merchant Name</label>
        <div id="merchantNameControls" class="col-sm-10">
            <input id="merchantName" name="merchantName" type="text" required ng-maxlength="50" class="form-control" ng-model="merchant.merchantName" placeholder="Enter the Merchant Merchant Name"></input>
            <span class="help-block error" ng-show="MerchantForm.merchantName.$error.required">required</span> 
            <span class="help-block error" ng-show="MerchantForm.merchantName.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantForm.merchantEmail.$invalid}">
        <label for="merchantEmail" class="col-sm-2 control-label">Merchant Email</label>
        <div id="merchantEmailControls" class="col-sm-10">
            <input id="merchantEmail" name="merchantEmail" type="text" required ng-maxlength="500" class="form-control" ng-model="merchant.merchantEmail" placeholder="Enter the Merchant Merchant Email"></input>
            <span class="help-block error" ng-show="MerchantForm.merchantEmail.$error.required">required</span> 
            <span class="help-block error" ng-show="MerchantForm.merchantEmail.$error.maxlength">maximum length is 500</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantForm.merchantPassword.$invalid}">
        <label for="merchantPassword" class="col-sm-2 control-label">Merchant Password</label>
        <div id="merchantPasswordControls" class="col-sm-10">
            <input id="merchantPassword" name="merchantPassword" type="text" required ng-maxlength="45" class="form-control" ng-model="merchant.merchantPassword" placeholder="Enter the Merchant Merchant Password"></input>
            <span class="help-block error" ng-show="MerchantForm.merchantPassword.$error.required">required</span> 
            <span class="help-block error" ng-show="MerchantForm.merchantPassword.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantForm.merchantPhoneNo.$invalid}">
        <label for="merchantPhoneNo" class="col-sm-2 control-label">Merchant Phone No</label>
        <div id="merchantPhoneNoControls" class="col-sm-10">
            <input id="merchantPhoneNo" name="merchantPhoneNo" type="text" ng-maxlength="15" class="form-control" ng-model="merchant.merchantPhoneNo" placeholder="Enter the Merchant Merchant Phone No"></input>
            <span class="help-block error" ng-show="MerchantForm.merchantPhoneNo.$error.maxlength">maximum length is 15</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantForm.merchantEmailVerified.$invalid}">
        <label for="merchantEmailVerified" class="col-sm-2 control-label">Merchant Email Verified</label>
        <div id="merchantEmailVerifiedControls" class="col-sm-10">
        <select id="merchantEmailVerified" name="merchantEmailVerified" class="form-control" ng-model="merchant.merchantEmailVerified" ng-options="m for m in merchantEmailVerifiedList"  >
            <option value="">Choose a Merchant Email Verified</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantForm.merchantVerificationCode.$invalid}">
        <label for="merchantVerificationCode" class="col-sm-2 control-label">Merchant Verification Code</label>
        <div id="merchantVerificationCodeControls" class="col-sm-10">
            <input id="merchantVerificationCode" name="merchantVerificationCode" type="text" ng-maxlength="20" class="form-control" ng-model="merchant.merchantVerificationCode" placeholder="Enter the Merchant Merchant Verification Code"></input>
            <span class="help-block error" ng-show="MerchantForm.merchantVerificationCode.$error.maxlength">maximum length is 20</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantForm.minOrder.$invalid}">
        <label for="minOrder" class="col-sm-2 control-label">Min Order</label>
        <div id="minOrderControls" class="col-sm-10">
            <input id="minOrder" name="minOrder" type="number" class="form-control" ng-model="merchant.minOrder" placeholder="Enter the Merchant Min Order"></input>
            <span class="help-block error" ng-show="MerchantForm.minOrder.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantForm.deliveryTime.$invalid}">
        <label for="deliveryTime" class="col-sm-2 control-label">Delivery Time</label>
        <div id="deliveryTimeControls" class="col-sm-10">
            <input id="deliveryTime" name="deliveryTime" type="number" class="form-control" ng-model="merchant.deliveryTime" placeholder="Enter the Merchant Delivery Time"></input>
            <span class="help-block error" ng-show="MerchantForm.deliveryTime.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantForm.merchantRating.$invalid}">
        <label for="merchantRating" class="col-sm-2 control-label">Merchant Rating</label>
        <div id="merchantRatingControls" class="col-sm-10">
            <input id="merchantRating" name="merchantRating" type="number" class="form-control" ng-model="merchant.merchantRating" placeholder="Enter the Merchant Merchant Rating"></input>
            <span class="help-block error" ng-show="MerchantForm.merchantRating.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantForm.lastUpdateUserId.$invalid}">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div id="lastUpdateUserIdControls" class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" type="text" ng-maxlength="45" class="form-control" ng-model="merchant.lastUpdateUserId" placeholder="Enter the Merchant Last Update User Id"></input>
            <span class="help-block error" ng-show="MerchantForm.lastUpdateUserId.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantForm.lastUpdateTs.$invalid}">
        <label for="lastUpdateTs" class="col-sm-2 control-label">Last Update Ts</label>
        <div id="lastUpdateTsControls" class="col-sm-10">
            <datetime id="lastUpdateTs" name="lastUpdateTs" ng-model="merchant.lastUpdateTs" placeholder="Enter the Merchant Last Update Ts"></datetime>
            <span class="help-block error" ng-show="MerchantForm.lastUpdateTs.$error.maxlength">maximum length is 19</span>
            <span class="help-block error" ng-show="MerchantForm.lastUpdateTs.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveMerchant" name="saveMerchant" class="btn btn-primary" ng-disabled="isClean() || MerchantForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteMerchant" name="deleteMerchant" class="btn btn-danger" ng-show="merchant.merchantId" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>