<div class="form-horizontal">
    <h3>Create a new MerchantReview</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/MerchantReviews/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for MerchantReviews</h3>
    <form id="MerchantReviewSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="merchant" class="col-sm-2 control-label">Merchant</label>
        <div class="col-sm-10">
            <select id="merchant" name="merchant" class="form-control" ng-model="search.merchant" ng-options="m as m.merchantId for m in merchantList">
                <option value="">Choose a Merchant</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="users" class="col-sm-2 control-label">Users</label>
        <div class="col-sm-10">
            <select id="users" name="users" class="form-control" ng-model="search.users" ng-options="u as u.userId for u in usersList">
                <option value="">Choose a Users</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="merchantReview" class="col-sm-2 control-label">Merchant Review</label>
        <div class="col-sm-10">
            <input id="merchantReview" name="merchantReview" class="form-control" type="text" ng-model="search.merchantReview" placeholder="Enter the MerchantReview Merchant Review"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="merchantRating" class="col-sm-2 control-label">Merchant Rating</label>
        <div class="col-sm-10">
            <input id="merchantRating" name="merchantRating" class="form-control" type="text" ng-model="search.merchantRating" placeholder="Enter the MerchantReview Merchant Rating"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" class="form-control" type="text" ng-model="search.lastUpdateUserId" placeholder="Enter the MerchantReview Last Update User Id"></input>
        </div>
    </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Merchant</th>
                    <th>Users</th>
                    <th>Merchant Review</th>
                    <th>Merchant Rating</th>
                    <th>Last Update User Id</th>
                    <th>Last Update Ts</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td><a href="#/MerchantReviews/edit/{{result.merchantReviewId}}">{{result.merchant.merchantId}}</a></td>
                        <td><a href="#/MerchantReviews/edit/{{result.merchantReviewId}}">{{result.users.userId}}</a></td>
                    <td><a href="#/MerchantReviews/edit/{{result.merchantReviewId}}">{{result.merchantReview}}</a></td>
                    <td><a href="#/MerchantReviews/edit/{{result.merchantReviewId}}">{{result.merchantRating}}</a></td>
                    <td><a href="#/MerchantReviews/edit/{{result.merchantReviewId}}">{{result.lastUpdateUserId}}</a></td>
                    <td><a href="#/MerchantReviews/edit/{{result.merchantReviewId}}">{{result.lastUpdateTs| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>