<div class="form-horizontal">
    <h3>Create a new LoyaltyProgramTier</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/LoyaltyProgramTiers/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for LoyaltyProgramTiers</h3>
    <form id="LoyaltyProgramTierSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="tierName" class="col-sm-2 control-label">Tier Name</label>
        <div class="col-sm-10">
            <input id="tierName" name="tierName" class="form-control" type="text" ng-model="search.tierName" placeholder="Enter the LoyaltyProgramTier Tier Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="tierMinPoints" class="col-sm-2 control-label">Tier Min Points</label>
        <div class="col-sm-10">
            <input id="tierMinPoints" name="tierMinPoints" class="form-control" type="text" ng-model="search.tierMinPoints" placeholder="Enter the LoyaltyProgramTier Tier Min Points"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="tierMaxPoints" class="col-sm-2 control-label">Tier Max Points</label>
        <div class="col-sm-10">
            <input id="tierMaxPoints" name="tierMaxPoints" class="form-control" type="text" ng-model="search.tierMaxPoints" placeholder="Enter the LoyaltyProgramTier Tier Max Points"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" class="form-control" type="text" ng-model="search.lastUpdateUserId" placeholder="Enter the LoyaltyProgramTier Last Update User Id"></input>
        </div>
    </div>





        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Tier Name</th>
                    <th>Tier Min Points</th>
                    <th>Tier Max Points</th>
                    <th>Last Update User Id</th>
                    <th>Last Update Ts</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/LoyaltyProgramTiers/edit/{{result.tierId}}">{{result.tierName}}</a></td>
                    <td><a href="#/LoyaltyProgramTiers/edit/{{result.tierId}}">{{result.tierMinPoints}}</a></td>
                    <td><a href="#/LoyaltyProgramTiers/edit/{{result.tierId}}">{{result.tierMaxPoints}}</a></td>
                    <td><a href="#/LoyaltyProgramTiers/edit/{{result.tierId}}">{{result.lastUpdateUserId}}</a></td>
                    <td><a href="#/LoyaltyProgramTiers/edit/{{result.tierId}}">{{result.lastUpdateTs| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>