<div class="form-horizontal">
    <h3>Create a new Orders</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Orders/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Orders</h3>
    <form id="OrdersSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="userId" class="col-sm-2 control-label">User Id</label>
        <div class="col-sm-10">
            <input id="userId" name="userId" class="form-control" type="text" ng-model="search.userId" placeholder="Enter the Orders User Id"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderAmount" class="col-sm-2 control-label">Order Amount</label>
        <div class="col-sm-10">
            <input id="orderAmount" name="orderAmount" class="form-control" type="text" ng-model="search.orderAmount" placeholder="Enter the Orders Order Amount"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderShipName" class="col-sm-2 control-label">Order Ship Name</label>
        <div class="col-sm-10">
            <input id="orderShipName" name="orderShipName" class="form-control" type="text" ng-model="search.orderShipName" placeholder="Enter the Orders Order Ship Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderShipAddress" class="col-sm-2 control-label">Order Ship Address</label>
        <div class="col-sm-10">
            <input id="orderShipAddress" name="orderShipAddress" class="form-control" type="text" ng-model="search.orderShipAddress" placeholder="Enter the Orders Order Ship Address"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderShipAddress2" class="col-sm-2 control-label">Order Ship Address 2</label>
        <div class="col-sm-10">
            <input id="orderShipAddress2" name="orderShipAddress2" class="form-control" type="text" ng-model="search.orderShipAddress2" placeholder="Enter the Orders Order Ship Address 2"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderCity" class="col-sm-2 control-label">Order City</label>
        <div class="col-sm-10">
            <input id="orderCity" name="orderCity" class="form-control" type="text" ng-model="search.orderCity" placeholder="Enter the Orders Order City"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderState" class="col-sm-2 control-label">Order State</label>
        <div class="col-sm-10">
            <input id="orderState" name="orderState" class="form-control" type="text" ng-model="search.orderState" placeholder="Enter the Orders Order State"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderZip" class="col-sm-2 control-label">Order Zip</label>
        <div class="col-sm-10">
            <input id="orderZip" name="orderZip" class="form-control" type="text" ng-model="search.orderZip" placeholder="Enter the Orders Order Zip"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderCountry" class="col-sm-2 control-label">Order Country</label>
        <div class="col-sm-10">
            <input id="orderCountry" name="orderCountry" class="form-control" type="text" ng-model="search.orderCountry" placeholder="Enter the Orders Order Country"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderPhone" class="col-sm-2 control-label">Order Phone</label>
        <div class="col-sm-10">
            <input id="orderPhone" name="orderPhone" class="form-control" type="text" ng-model="search.orderPhone" placeholder="Enter the Orders Order Phone"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderFax" class="col-sm-2 control-label">Order Fax</label>
        <div class="col-sm-10">
            <input id="orderFax" name="orderFax" class="form-control" type="text" ng-model="search.orderFax" placeholder="Enter the Orders Order Fax"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderShipping" class="col-sm-2 control-label">Order Shipping</label>
        <div class="col-sm-10">
            <input id="orderShipping" name="orderShipping" class="form-control" type="text" ng-model="search.orderShipping" placeholder="Enter the Orders Order Shipping"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderTax" class="col-sm-2 control-label">Order Tax</label>
        <div class="col-sm-10">
            <input id="orderTax" name="orderTax" class="form-control" type="text" ng-model="search.orderTax" placeholder="Enter the Orders Order Tax"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderBillName" class="col-sm-2 control-label">Order Bill Name</label>
        <div class="col-sm-10">
            <input id="orderBillName" name="orderBillName" class="form-control" type="text" ng-model="search.orderBillName" placeholder="Enter the Orders Order Bill Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderBillAddress" class="col-sm-2 control-label">Order Bill Address</label>
        <div class="col-sm-10">
            <input id="orderBillAddress" name="orderBillAddress" class="form-control" type="text" ng-model="search.orderBillAddress" placeholder="Enter the Orders Order Bill Address"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderBillAddress2" class="col-sm-2 control-label">Order Bill Address 2</label>
        <div class="col-sm-10">
            <input id="orderBillAddress2" name="orderBillAddress2" class="form-control" type="text" ng-model="search.orderBillAddress2" placeholder="Enter the Orders Order Bill Address 2"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderBillCity" class="col-sm-2 control-label">Order Bill City</label>
        <div class="col-sm-10">
            <input id="orderBillCity" name="orderBillCity" class="form-control" type="text" ng-model="search.orderBillCity" placeholder="Enter the Orders Order Bill City"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderBillState" class="col-sm-2 control-label">Order Bill State</label>
        <div class="col-sm-10">
            <input id="orderBillState" name="orderBillState" class="form-control" type="text" ng-model="search.orderBillState" placeholder="Enter the Orders Order Bill State"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderBillZip" class="col-sm-2 control-label">Order Bill Zip</label>
        <div class="col-sm-10">
            <input id="orderBillZip" name="orderBillZip" class="form-control" type="text" ng-model="search.orderBillZip" placeholder="Enter the Orders Order Bill Zip"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderBillCountry" class="col-sm-2 control-label">Order Bill Country</label>
        <div class="col-sm-10">
            <input id="orderBillCountry" name="orderBillCountry" class="form-control" type="text" ng-model="search.orderBillCountry" placeholder="Enter the Orders Order Bill Country"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderBillPhone" class="col-sm-2 control-label">Order Bill Phone</label>
        <div class="col-sm-10">
            <input id="orderBillPhone" name="orderBillPhone" class="form-control" type="text" ng-model="search.orderBillPhone" placeholder="Enter the Orders Order Bill Phone"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderBillFax" class="col-sm-2 control-label">Order Bill Fax</label>
        <div class="col-sm-10">
            <input id="orderBillFax" name="orderBillFax" class="form-control" type="text" ng-model="search.orderBillFax" placeholder="Enter the Orders Order Bill Fax"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderPaymentMode" class="col-sm-2 control-label">Order Payment Mode</label>
        <div class="col-sm-10">
            <input id="orderPaymentMode" name="orderPaymentMode" class="form-control" type="text" ng-model="search.orderPaymentMode" placeholder="Enter the Orders Order Payment Mode"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderPaymentDesc" class="col-sm-2 control-label">Order Payment Desc</label>
        <div class="col-sm-10">
            <input id="orderPaymentDesc" name="orderPaymentDesc" class="form-control" type="text" ng-model="search.orderPaymentDesc" placeholder="Enter the Orders Order Payment Desc"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderEmail" class="col-sm-2 control-label">Order Email</label>
        <div class="col-sm-10">
            <input id="orderEmail" name="orderEmail" class="form-control" type="text" ng-model="search.orderEmail" placeholder="Enter the Orders Order Email"></input>
        </div>
    </div>


    <div class="form-group">
        <label for="orderTrackingNo" class="col-sm-2 control-label">Order Tracking No</label>
        <div class="col-sm-10">
            <input id="orderTrackingNo" name="orderTrackingNo" class="form-control" type="text" ng-model="search.orderTrackingNo" placeholder="Enter the Orders Order Tracking No"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="orderType" class="col-sm-2 control-label">Order Type</label>
        <div class="col-sm-10">
            <input id="orderType" name="orderType" class="form-control" type="text" ng-model="search.orderType" placeholder="Enter the Orders Order Type"></input>
        </div>
    </div>



    <div class="form-group">
        <label for="paymentGatewayId" class="col-sm-2 control-label">Payment Gateway Id</label>
        <div class="col-sm-10">
            <input id="paymentGatewayId" name="paymentGatewayId" class="form-control" type="text" ng-model="search.paymentGatewayId" placeholder="Enter the Orders Payment Gateway Id"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" class="form-control" type="text" ng-model="search.lastUpdateUserId" placeholder="Enter the Orders Last Update User Id"></input>
        </div>
    </div>


    <div class="form-group">
        <label for="orderShipped" class="col-sm-2 control-label">Order Shipped</label>
        <div class="col-sm-10">
            <input id="orderShipped" name="orderShipped" class="form-control" type="text" ng-model="search.orderShipped" placeholder="Enter the Orders Order Shipped"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>User Id</th>
                    <th>Order Amount</th>
                    <th>Order Ship Name</th>
                    <th>Order Ship Address</th>
                    <th>Order Ship Address 2</th>
                    <th>Order City</th>
                    <th>Order State</th>
                    <th>Order Zip</th>
                    <th>Order Country</th>
                    <th>Order Phone</th>
                    <th>Order Fax</th>
                    <th>Order Shipping</th>
                    <th>Order Tax</th>
                    <th>Order Bill Name</th>
                    <th>Order Bill Address</th>
                    <th>Order Bill Address 2</th>
                    <th>Order Bill City</th>
                    <th>Order Bill State</th>
                    <th>Order Bill Zip</th>
                    <th>Order Bill Country</th>
                    <th>Order Bill Phone</th>
                    <th>Order Bill Fax</th>
                    <th>Order Payment Mode</th>
                    <th>Order Payment Desc</th>
                    <th>Order Email</th>
                    <th>Order Date</th>
                    <th>Order Tracking No</th>
                    <th>Order Type</th>
                    <th>Order Placed Time</th>
                    <th>Order Pickup Time</th>
                    <th>Payment Gateway Id</th>
                    <th>Last Update User Id</th>
                    <th>Last Update Ts</th>
                    <th>Order Shipped</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.userId}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderAmount}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderShipName}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderShipAddress}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderShipAddress2}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderCity}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderState}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderZip}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderCountry}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderPhone}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderFax}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderShipping}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderTax}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderBillName}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderBillAddress}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderBillAddress2}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderBillCity}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderBillState}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderBillZip}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderBillCountry}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderBillPhone}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderBillFax}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderPaymentMode}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderPaymentDesc}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderEmail}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderDate| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderTrackingNo}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderType}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderPlacedTime| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderPickupTime| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.paymentGatewayId}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.lastUpdateUserId}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.lastUpdateTs| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                    <td><a href="#/Orders/edit/{{result.orderId}}">{{result.orderShipped}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>