<header ng-switch on="$location.path().indexOf('/ProductCategories/new') > -1">
    <h3 ng-switch-when="true">Create a new ProductCategory</h3>
    <h3 ng-switch-when="false">View or edit ProductCategory</h3>
</header>
<form id="ProductCategoryForm" name="ProductCategoryForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': ProductCategoryForm.category.$invalid}">
        <label for="category" class="col-sm-2 control-label">Category</label>
        <div id="categoryControls" class="col-sm-10">
        <select id="category" name="category" class="form-control" ng-model="categorySelection" ng-options="c.text for c in categorySelectionList"  >
            <option value="">Choose a Category</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductCategoryForm.product.$invalid}">
        <label for="product" class="col-sm-2 control-label">Product</label>
        <div id="productControls" class="col-sm-10">
        <select id="product" name="product" class="form-control" ng-model="productSelection" ng-options="p.text for p in productSelectionList"  >
            <option value="">Choose a Product</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductCategoryForm.lastUpdateUserId.$invalid}">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div id="lastUpdateUserIdControls" class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" type="text" ng-maxlength="45" class="form-control" ng-model="productCategory.lastUpdateUserId" placeholder="Enter the ProductCategory Last Update User Id"></input>
            <span class="help-block error" ng-show="ProductCategoryForm.lastUpdateUserId.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProductCategoryForm.lastUpdateTs.$invalid}">
        <label for="lastUpdateTs" class="col-sm-2 control-label">Last Update Ts</label>
        <div id="lastUpdateTsControls" class="col-sm-10">
            <datetime id="lastUpdateTs" name="lastUpdateTs" ng-model="productCategory.lastUpdateTs" placeholder="Enter the ProductCategory Last Update Ts"></datetime>
            <span class="help-block error" ng-show="ProductCategoryForm.lastUpdateTs.$error.maxlength">maximum length is 19</span>
            <span class="help-block error" ng-show="ProductCategoryForm.lastUpdateTs.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveProductCategory" name="saveProductCategory" class="btn btn-primary" ng-disabled="isClean() || ProductCategoryForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteProductCategory" name="deleteProductCategory" class="btn btn-danger" ng-show="productCategory.productCategoryId" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>