<header ng-switch on="$location.path().indexOf('/MerchantAddresses/new') > -1">
    <h3 ng-switch-when="true">Create a new MerchantAddress</h3>
    <h3 ng-switch-when="false">View or edit MerchantAddress</h3>
</header>
<form id="MerchantAddressForm" name="MerchantAddressForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': MerchantAddressForm.merchantAddress.$invalid}">
        <label for="merchantAddress" class="col-sm-2 control-label">Merchant Address</label>
        <div id="merchantAddressControls" class="col-sm-10">
            <input id="merchantAddress" name="merchantAddress" type="text" ng-maxlength="100" class="form-control" ng-model="merchantAddress.merchantAddress" placeholder="Enter the MerchantAddress Merchant Address"></input>
            <span class="help-block error" ng-show="MerchantAddressForm.merchantAddress.$error.maxlength">maximum length is 100</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantAddressForm.merchantAddress2.$invalid}">
        <label for="merchantAddress2" class="col-sm-2 control-label">Merchant Address 2</label>
        <div id="merchantAddress2Controls" class="col-sm-10">
            <input id="merchantAddress2" name="merchantAddress2" type="text" ng-maxlength="50" class="form-control" ng-model="merchantAddress.merchantAddress2" placeholder="Enter the MerchantAddress Merchant Address 2"></input>
            <span class="help-block error" ng-show="MerchantAddressForm.merchantAddress2.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantAddressForm.merchantCity.$invalid}">
        <label for="merchantCity" class="col-sm-2 control-label">Merchant City</label>
        <div id="merchantCityControls" class="col-sm-10">
            <input id="merchantCity" name="merchantCity" type="text" ng-maxlength="90" class="form-control" ng-model="merchantAddress.merchantCity" placeholder="Enter the MerchantAddress Merchant City"></input>
            <span class="help-block error" ng-show="MerchantAddressForm.merchantCity.$error.maxlength">maximum length is 90</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantAddressForm.merchantCountry.$invalid}">
        <label for="merchantCountry" class="col-sm-2 control-label">Merchant Country</label>
        <div id="merchantCountryControls" class="col-sm-10">
            <input id="merchantCountry" name="merchantCountry" type="text" ng-maxlength="20" class="form-control" ng-model="merchantAddress.merchantCountry" placeholder="Enter the MerchantAddress Merchant Country"></input>
            <span class="help-block error" ng-show="MerchantAddressForm.merchantCountry.$error.maxlength">maximum length is 20</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantAddressForm.merchantFax.$invalid}">
        <label for="merchantFax" class="col-sm-2 control-label">Merchant Fax</label>
        <div id="merchantFaxControls" class="col-sm-10">
            <input id="merchantFax" name="merchantFax" type="text" ng-maxlength="20" class="form-control" ng-model="merchantAddress.merchantFax" placeholder="Enter the MerchantAddress Merchant Fax"></input>
            <span class="help-block error" ng-show="MerchantAddressForm.merchantFax.$error.maxlength">maximum length is 20</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantAddressForm.merchantFirstName.$invalid}">
        <label for="merchantFirstName" class="col-sm-2 control-label">Merchant First Name</label>
        <div id="merchantFirstNameControls" class="col-sm-10">
            <input id="merchantFirstName" name="merchantFirstName" type="text" ng-maxlength="50" class="form-control" ng-model="merchantAddress.merchantFirstName" placeholder="Enter the MerchantAddress Merchant First Name"></input>
            <span class="help-block error" ng-show="MerchantAddressForm.merchantFirstName.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantAddressForm.merchantLastName.$invalid}">
        <label for="merchantLastName" class="col-sm-2 control-label">Merchant Last Name</label>
        <div id="merchantLastNameControls" class="col-sm-10">
            <input id="merchantLastName" name="merchantLastName" type="text" ng-maxlength="50" class="form-control" ng-model="merchantAddress.merchantLastName" placeholder="Enter the MerchantAddress Merchant Last Name"></input>
            <span class="help-block error" ng-show="MerchantAddressForm.merchantLastName.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantAddressForm.merchantPhone.$invalid}">
        <label for="merchantPhone" class="col-sm-2 control-label">Merchant Phone</label>
        <div id="merchantPhoneControls" class="col-sm-10">
            <input id="merchantPhone" name="merchantPhone" type="text" ng-maxlength="20" class="form-control" ng-model="merchantAddress.merchantPhone" placeholder="Enter the MerchantAddress Merchant Phone"></input>
            <span class="help-block error" ng-show="MerchantAddressForm.merchantPhone.$error.maxlength">maximum length is 20</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantAddressForm.merchantState.$invalid}">
        <label for="merchantState" class="col-sm-2 control-label">Merchant State</label>
        <div id="merchantStateControls" class="col-sm-10">
            <input id="merchantState" name="merchantState" type="text" ng-maxlength="20" class="form-control" ng-model="merchantAddress.merchantState" placeholder="Enter the MerchantAddress Merchant State"></input>
            <span class="help-block error" ng-show="MerchantAddressForm.merchantState.$error.maxlength">maximum length is 20</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantAddressForm.addressTypeName.$invalid}">
        <label for="addressTypeName" class="col-sm-2 control-label">Address Type Name</label>
        <div id="addressTypeNameControls" class="col-sm-10">
            <input id="addressTypeName" name="addressTypeName" type="text" ng-maxlength="50" class="form-control" ng-model="merchantAddress.addressTypeName" placeholder="Enter the MerchantAddress Address Type Name"></input>
            <span class="help-block error" ng-show="MerchantAddressForm.addressTypeName.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantAddressForm.merchantZip.$invalid}">
        <label for="merchantZip" class="col-sm-2 control-label">Merchant Zip</label>
        <div id="merchantZipControls" class="col-sm-10">
            <input id="merchantZip" name="merchantZip" type="text" ng-maxlength="12" class="form-control" ng-model="merchantAddress.merchantZip" placeholder="Enter the MerchantAddress Merchant Zip"></input>
            <span class="help-block error" ng-show="MerchantAddressForm.merchantZip.$error.maxlength">maximum length is 12</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantAddressForm.merchantId.$invalid}">
        <label for="merchantId" class="col-sm-2 control-label">Merchant Id</label>
        <div id="merchantIdControls" class="col-sm-10">
            <input id="merchantId" name="merchantId" type="text" required ng-maxlength="45" class="form-control" ng-model="merchantAddress.merchantId" placeholder="Enter the MerchantAddress Merchant Id"></input>
            <span class="help-block error" ng-show="MerchantAddressForm.merchantId.$error.required">required</span> 
            <span class="help-block error" ng-show="MerchantAddressForm.merchantId.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantAddressForm.lastUpdateUserId.$invalid}">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div id="lastUpdateUserIdControls" class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" type="text" ng-maxlength="45" class="form-control" ng-model="merchantAddress.lastUpdateUserId" placeholder="Enter the MerchantAddress Last Update User Id"></input>
            <span class="help-block error" ng-show="MerchantAddressForm.lastUpdateUserId.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MerchantAddressForm.lastUpdateTs.$invalid}">
        <label for="lastUpdateTs" class="col-sm-2 control-label">Last Update Ts</label>
        <div id="lastUpdateTsControls" class="col-sm-10">
            <datetime id="lastUpdateTs" name="lastUpdateTs" ng-model="merchantAddress.lastUpdateTs" placeholder="Enter the MerchantAddress Last Update Ts"></datetime>
            <span class="help-block error" ng-show="MerchantAddressForm.lastUpdateTs.$error.maxlength">maximum length is 19</span>
            <span class="help-block error" ng-show="MerchantAddressForm.lastUpdateTs.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveMerchantAddress" name="saveMerchantAddress" class="btn btn-primary" ng-disabled="isClean() || MerchantAddressForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteMerchantAddress" name="deleteMerchantAddress" class="btn btn-danger" ng-show="merchantAddress.merchantAddressId" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>