<div class="form-horizontal">
    <h3>Create a new MerchantAddress</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/MerchantAddresses/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for MerchantAddresses</h3>
    <form id="MerchantAddressSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="merchant" class="col-sm-2 control-label">Merchant</label>
        <div class="col-sm-10">
            <select id="merchant" name="merchant" class="form-control" ng-model="search.merchant" ng-options="m as m.merchantId for m in merchantList">
                <option value="">Choose a Merchant</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="merchantAddress" class="col-sm-2 control-label">Merchant Address</label>
        <div class="col-sm-10">
            <input id="merchantAddress" name="merchantAddress" class="form-control" type="text" ng-model="search.merchantAddress" placeholder="Enter the MerchantAddress Merchant Address"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="merchantAddress2" class="col-sm-2 control-label">Merchant Address 2</label>
        <div class="col-sm-10">
            <input id="merchantAddress2" name="merchantAddress2" class="form-control" type="text" ng-model="search.merchantAddress2" placeholder="Enter the MerchantAddress Merchant Address 2"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="merchantCity" class="col-sm-2 control-label">Merchant City</label>
        <div class="col-sm-10">
            <input id="merchantCity" name="merchantCity" class="form-control" type="text" ng-model="search.merchantCity" placeholder="Enter the MerchantAddress Merchant City"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="merchantCountry" class="col-sm-2 control-label">Merchant Country</label>
        <div class="col-sm-10">
            <input id="merchantCountry" name="merchantCountry" class="form-control" type="text" ng-model="search.merchantCountry" placeholder="Enter the MerchantAddress Merchant Country"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="merchantFax" class="col-sm-2 control-label">Merchant Fax</label>
        <div class="col-sm-10">
            <input id="merchantFax" name="merchantFax" class="form-control" type="text" ng-model="search.merchantFax" placeholder="Enter the MerchantAddress Merchant Fax"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="merchantFirstName" class="col-sm-2 control-label">Merchant First Name</label>
        <div class="col-sm-10">
            <input id="merchantFirstName" name="merchantFirstName" class="form-control" type="text" ng-model="search.merchantFirstName" placeholder="Enter the MerchantAddress Merchant First Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="merchantLastName" class="col-sm-2 control-label">Merchant Last Name</label>
        <div class="col-sm-10">
            <input id="merchantLastName" name="merchantLastName" class="form-control" type="text" ng-model="search.merchantLastName" placeholder="Enter the MerchantAddress Merchant Last Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="merchantPhone" class="col-sm-2 control-label">Merchant Phone</label>
        <div class="col-sm-10">
            <input id="merchantPhone" name="merchantPhone" class="form-control" type="text" ng-model="search.merchantPhone" placeholder="Enter the MerchantAddress Merchant Phone"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="merchantState" class="col-sm-2 control-label">Merchant State</label>
        <div class="col-sm-10">
            <input id="merchantState" name="merchantState" class="form-control" type="text" ng-model="search.merchantState" placeholder="Enter the MerchantAddress Merchant State"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="addressTypeName" class="col-sm-2 control-label">Address Type Name</label>
        <div class="col-sm-10">
            <input id="addressTypeName" name="addressTypeName" class="form-control" type="text" ng-model="search.addressTypeName" placeholder="Enter the MerchantAddress Address Type Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="merchantZip" class="col-sm-2 control-label">Merchant Zip</label>
        <div class="col-sm-10">
            <input id="merchantZip" name="merchantZip" class="form-control" type="text" ng-model="search.merchantZip" placeholder="Enter the MerchantAddress Merchant Zip"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="lastUpdateUserId" class="col-sm-2 control-label">Last Update User Id</label>
        <div class="col-sm-10">
            <input id="lastUpdateUserId" name="lastUpdateUserId" class="form-control" type="text" ng-model="search.lastUpdateUserId" placeholder="Enter the MerchantAddress Last Update User Id"></input>
        </div>
    </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Merchant</th>
                    <th>Merchant Address</th>
                    <th>Merchant Address 2</th>
                    <th>Merchant City</th>
                    <th>Merchant Country</th>
                    <th>Merchant Fax</th>
                    <th>Merchant First Name</th>
                    <th>Merchant Last Name</th>
                    <th>Merchant Phone</th>
                    <th>Merchant State</th>
                    <th>Address Type Name</th>
                    <th>Merchant Zip</th>
                    <th>Last Update User Id</th>
                    <th>Last Update Ts</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td><a href="#/MerchantAddresses/edit/{{result.merchantAddressId}}">{{result.merchant.merchantId}}</a></td>
                    <td><a href="#/MerchantAddresses/edit/{{result.merchantAddressId}}">{{result.merchantAddress}}</a></td>
                    <td><a href="#/MerchantAddresses/edit/{{result.merchantAddressId}}">{{result.merchantAddress2}}</a></td>
                    <td><a href="#/MerchantAddresses/edit/{{result.merchantAddressId}}">{{result.merchantCity}}</a></td>
                    <td><a href="#/MerchantAddresses/edit/{{result.merchantAddressId}}">{{result.merchantCountry}}</a></td>
                    <td><a href="#/MerchantAddresses/edit/{{result.merchantAddressId}}">{{result.merchantFax}}</a></td>
                    <td><a href="#/MerchantAddresses/edit/{{result.merchantAddressId}}">{{result.merchantFirstName}}</a></td>
                    <td><a href="#/MerchantAddresses/edit/{{result.merchantAddressId}}">{{result.merchantLastName}}</a></td>
                    <td><a href="#/MerchantAddresses/edit/{{result.merchantAddressId}}">{{result.merchantPhone}}</a></td>
                    <td><a href="#/MerchantAddresses/edit/{{result.merchantAddressId}}">{{result.merchantState}}</a></td>
                    <td><a href="#/MerchantAddresses/edit/{{result.merchantAddressId}}">{{result.addressTypeName}}</a></td>
                    <td><a href="#/MerchantAddresses/edit/{{result.merchantAddressId}}">{{result.merchantZip}}</a></td>
                    <td><a href="#/MerchantAddresses/edit/{{result.merchantAddressId}}">{{result.lastUpdateUserId}}</a></td>
                    <td><a href="#/MerchantAddresses/edit/{{result.merchantAddressId}}">{{result.lastUpdateTs| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>